.container {
    background-color: rgba(71, 16, 154, 0.849);
    height: 1000px;
    width: 1000px;
    text-align: center;
    border: 6px solid white;
    border-color: white;
    position: relative;
    left: 800px;
    top: 250px;
    border-radius:10rem;
}

.pageMain {
    background-color: black;
}

.ButtonA {
    position: absolute;
    top: 150px;
    color: red;
}

.ButtonB {
    position: absolute;
    top: 150px;
}

.ButtonC {
    position: absolute;
    top: 150px;
}

.ButtonD {
    position: absolute;
    top: 150px;
}

.Adisplay {
    background-color:black;
   color:white;
   padding: 2.5rem;
   border: 1px solid black;
   height: 1rem;
   justify-content: center;
	 align-items: center;
   word-break: break-all;
   border-radius: 1rem;
	 height: 20px;
}

#StartSubmit {
    height: 100px;
    width: 100px;
		color: white;
		background-color: black;
		border-color: white;
		border-radius: 4rem;
}
#NextButton {
	height: 100px;
	width: 100px;
	color: white;
	background-color: black;
	border-color: white;
	border-radius: 4rem;
}

.Title {
    color: rgba(39, 204, 149, 0.842);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 58px;
}
.timer {
    color: white;
    font-size: 60px;
}
#final-score {
	display: flex;
	background-color: black;
		border-color: white;
		border-radius: 4rem;
		color: white;
		position: absolute;
		top:40%;
		left:40%;
		width: 20%;
		height: 20%;
		font-size: 90px;
		justify-content: center;
    align-items: center;
}
